*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f8f8f8;
    color: #222;
}

header{
    background: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.banner{
    background: #5f091f;
    color: white;

    text-align: center;
    padding: 80px 20px;
}

.banner h1{
    font-size: 48px;
    margin-bottom: 10px;
}

.contenedor{
    display: flex;
    gap: 30px;

    justify-content: center;

    padding: 60px;
}

.card{
    width: 450px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    transition: .3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card h2{
    margin-bottom: 20px;
    color: #800020;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 15px;
    margin-bottom: 8px;
}

input{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    margin-top: 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: #5f091f;
}

.registro{
    margin-top: 20px;
    text-align: center;
}

.beneficios{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 60px 60px;
}

.beneficio{
    width: 250px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    transition: .3s;
}

.beneficio:hover{
    transform: translateY(-5px);
}

.beneficio h3{
    margin: 15px 0;
}

footer{
    background: black;
    color: white;

    text-align: center;

    padding: 20px;
}

.registro a{
    color: #800020;
    font-weight: bold;
    text-decoration: none;
}

.registro a:hover{
    text-decoration: underline;
}

.registro-seccion{
    display: flex;
    justify-content: center;
    padding: 60px;
}

.registro-card{
    width: 500px;
}

input:focus{
    outline: none;
    border-color: #800020;
}

.perfil,
.historial,
.faq,
.newsletter,
.redes{
    padding: 60px;
}

.perfil h2,
.historial h2,
.faq h2,
.newsletter h2,
.redes h2{
    text-align: center;
    color: #800020;
    margin-bottom: 30px;
}

.perfil-card{
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.perfil-card p{
    margin: 15px 0;
}

table{
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

th{
    background: #800020;
    color: white;
}

th,
td{
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

details{
    max-width: 800px;
    margin: 15px auto;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

summary{
    font-weight: bold;
    cursor: pointer;
}

.newsletter{
    text-align: center;
}

.newsletter p{
    margin-bottom: 20px;
}

.newsletter form{
    max-width: 500px;
    margin: auto;
}

.redes{
    text-align: center;
}

.redes-iconos{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.redes-iconos div{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 170px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    transition: .3s;
}

.redes-iconos div:hover{
    transform: translateY(-5px);
}

.panel,
.favoritos,
.pagos,
.estado,
.recomendados{
    padding:60px;
    text-align:center;
}

.panel h2,
.favoritos h2,
.pagos h2,
.estado h2,
.recomendados h2{
    color:#800020;
    margin-bottom:35px;
}

.panel-grid{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.panel-card{
    width:220px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    transition:.3s;
}

.panel-card i{
    font-size:40px;
    color:#800020;
}

.panel-card:hover{
    transform:translateY(-8px);
}

.producto-fav{
    width:230px;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    transition:.3s;
}

.producto-fav img{
    width:100%;
    height:260px;
    object-fit:cover;
}

.producto-fav h3{
    margin:15px 0;
}

.producto-fav p{
    margin-bottom:15px;
}

.producto-fav:hover{
    transform:translateY(-8px);
}

.barra{
    display:flex;
    justify-content:center;
    gap:35px;
    flex-wrap:wrap;
}

.barra div{
    background:white;
    padding:20px;
    width:170px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.activo{
    border:2px solid #800020;
}